body {
  background-color: $white;
  @import "warning.scss";
  #wapper{
    width: 74%;
    margin: 0 auto;
    min-height: 640px;
    padding: 80px;
    color: $black;
    @import 'main.scss';
  }
}
