header {
    text-align: left;
    border-bottom: 2px solid $black;
    h1 {
        width: 280px;
        font-size: 48px;
        font-weight: normal;
        margin: 0;
        padding: 6px 20px;
        letter-spacing: 6px;
        text-align: left;
        background-color: $black;
        color: $white;
        display: inline-block;
        border: 4px solid $black;
    }
    form {
        display: inline-block;
        background-color: #fff;
        position: relative;
        z-index: 999;
        vertical-align: bottom;
        padding: 18px 0 18px 120px;
        .inputs {
            display: inline-block;
            label {
              display: block;
              p {
                font-weight: bold;
                vertical-align: bottom;
              }
              input {
                border: none;
                display: block;
                width: 100%;
                padding: 7px 10px;
                font-size: 14px;
                color: $black;
                background-color: $white;
                border: 1px solid $black;
                margin-top: 6px;
                &:focus {
                  outline: 1px solid;
                }
              }
            }
            .select {
                height: auto;
                margin-right: 20px;
                .select_head {
                    label {
                        margin-bottom: 0;
                        p {
                            margin-bottom: 6px;
                            margin-right: 20px;
                            font-weight: bold;
                            display: inline-block;
                        }
                        input {
                            width:460px;
                            border: 1px solid $black;
                            display: inline-block;
                            &:focus {
                                outline: none;
                            }
                        }
                        i {
                          background: none;
                          border:none;
                          border: 1px solid $black;
                          padding: 7.5px 6px;
                          display: inline-block;
                          cursor: pointer;
                        }
                    }
                }
                .select_sub {
                  width:460px;
                  display: none;
                  position: absolute;
                  top: 57px;
                  left: 201px;
                  border: 1px solid $black;
                  border-top: none;
                  padding-top: 2px;
                  background-color: $white;
                  li {
                        font-size: 14px;
                        margin: 2px 2px;
                        padding: 4px 10px;
                        cursor: pointer;
                        background-color: $white;
                        &:first-child {
                            margin-top:2px;
                        }
                        &:hover {
                            background-color: $black;
                            color: $white;
                        }
                  }
                  hr {
                        border: none;
                        height: 1px;
                        background-color: $black;
                  }
                }
            }
        }
        button {
            background: none;
            border:none;
            font-weight: bold;
            font-size: 14px;
            padding: 5px 20px;
            cursor: pointer;
            color: $black;
            border: 1px solid $black;
            &:hover {
                background-color: $black;
                color:$white;
            }
        }
    }
}
