body {
  background-color: $white;
}
#page{
  min-width: 1080px;
  color:$black;
  @import 'header.scss';
  div.middle{
      display: -webkit-flex;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      @import 'nav.scss';
      @import 'main.scss';
  }
}
