body {
background-color: #fff;
}
#wapper{
  width: 70%;
  margin: 0 auto;
  min-height: 800px;
  padding-bottom:60px;
  color: #000;
  @import 'header.scss';
  @import 'main.scss';
  @import 'footer.scss';
}
