main {

  form {
    border: 2px solid $black;
    border-radius: 6px;
    min-width: 480px;
    h3 {
      font-size: 20px;
      padding: 6px 20px;
      font-weight: bold;
      border-bottom: 2px solid $black;
    }
    .inputs {
      padding: 40px 50px;
      label {
        display: block;
        margin-bottom: 16px;
        height: 60px;
        p {
          margin-bottom: 6px;
          font-weight: bold;
        }
        input {
          border: none;
          display: block;
          width: 100%;
          padding: 7px 10px;
          font-size: 14px;
          color: $black;
          background-color: $white;
          border: 1px solid $black;
          margin-top: 6px;
          &:focus {
            outline: 1px solid;
          }
        }
    }
    .select {
      margin-bottom: 16px;
      .select-head {
        margin-bottom: 2px;
        label {
          margin-bottom: 0;
          p {
            margin-bottom: 6px;
            font-weight: bold;
          }
          input {
            width: 60%;
            border: 1px solid $black;
            display: inline-block;
            &:focus {
              outline: none;
            }
          }
          i {
            background: none;
            border:none;
            border: 1px solid $black;
            padding: 7.5px 6px;
            display: inline-block;
            cursor: pointer;
          }
        }
      }
      #sub {
        width: 60%;
        display: none;
        border: 1px solid $black;
        border-top: none;
        padding-top: 2px;
        li {
          font-size: 14px;
          margin: 2px 2px;
          padding: 4px 10px;
          cursor: pointer;
          &:first-child {
            margin-top:2px;
          }
          &:hover {
            background-color: $black;
            color: $white;
          }
        }
        hr {
          border: none;
          height: 1px;
          background-color: $black;
        }
      }
    }

  }
  .btns {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    width: 98%;
    margin: 0 auto;
    border-top: 1px solid $black;
    padding: 3px 0;
    button {
      width: 50%;
      background: none;
      border:none;
      font-weight: bold;
      font-size: 16px;
      padding: 6px 0;
      flex-grow:1;
      cursor: pointer;
      color: $black;
      &:first-child {
        border-right: 1px solid $black;
      }
      &:hover {
        background-color: $black;
        color:$white;
      }
    }
  }
}
}
