nav {
  width: 280px;
  min-height: 640px;
  padding: 0 10px;
  padding-top: 60px;
  order:-1;
  display: inline-block;
  background-color: $white;
  border-right: 2px solid $black;
  >ul {
    text-align: left;
    >li {
      border-bottom: 1px solid $black;
      padding: 2px 0;
      p,a {
        cursor: pointer;
        display: inline-block;
        display: -webkit-flex;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        color: $black;
        width: 100%;
        padding: 8px 24px;
        &:hover {
          background-color: $black;
          color: $white;
        }
        i {
          margin-top:2px;
        }
      }
      a.active{
          background-color: $black;
          color: $white;
      }

      .sub {
        display: none;
        margin-top: 2px;
        li {
          a {
              display: inline-block;
              color: $black;
              width: 100%;
              padding: 8px 24px;
              padding-left: 40px;
              margin-bottom: 2px;
              &:hover {
                background-color: $black;
                color: $white;
              }
          }
          a.active{
              background-color: $black;
              color: $white;
          }
        }
      }
    }

    >li:first-child {
      border-top: 1px solid $black;
    }
  }
}
